.aboutSkills{
    display: inline-block;
    list-style: none;
    padding-left: 0px;
    padding-right: 50px;
}

#arrow-right{
    width: 30px; 
    height: 19px;
}
.about{
    margin-bottom: 80px;
}
#aboutHeader{
    margin-top: 40px;
}
#aboutPageContactLink{
    color: #212529;
}
#aboutPageContactLink:hover {
    color: rgba(20,20,20,.24);
    text-decoration: none;
    border: rgba(20,20,20,.24);
}

#headshotImg{
    max-width: 350px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

@media (max-width: 784px) { 
    .about{
        text-align: center;
    }
}