#homeBanner{
    height: 500px;
    width: 100%;
    background-image: url("/images/austin.jpg");
    margin-bottom: 35px;
    background-size: cover;
    background-position: center;
}
#homeSection{
    text-align: center;

}

#homeProjectsLink{
    padding-top:25px;
    padding-bottom: 45px;
}
#react{
    color: #61dafb;
}
.homeP{
    margin-bottom: 25px;
    color: rgb(133, 132, 132);
}

@media (max-width: 784px) { 
    #homeSection{
        text-align: center;
    }
    #homeProjects{
       padding-left: 15px;
       padding-right: 15px;
    }
    #homeProjectsBtn{
        text-align: center;
    }
}